{% extends 'base.html' %}

{% block content %}
{% for post in category_posts %}
<div class="card my-4">
    <div class="card-body">
        <p class="card-text"># <a href="{% url 'blog_list_category' post.category %}">{{ post.category }}</a></p>
        <h3 class="card-title"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
        <hr />
        <p class="card-text">{{ post.body|linebreaks }}</p>
        <p>Author: {{ post.author }} - {{ post.created_at }}</p> 
    </div>
</div>
{% endfor %}
<!-- pagination -->
<div>
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
</div>

<div>
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% endblock %}